# ===================================================
# CONFIGURAÇÕES DO BOT DE DISCORD
# ===================================================

# Token do Bot (Obtido em https://discord.com/developers/applications)
DISCORD_TOKEN=seu_token_aqui

# ID da Aplicação / Bot
CLIENT_ID=seu_client_id_aqui

# ID do Servidor Principal (Opcional - caso queira registrar os comandos instantaneamente apenas em um servidor)
GUILD_ID=

# Porta do Servidor HTTP Keep-Alive (Padrão: 3000 ou 8080)
PORT=3000
